.admin-container {
    display: flex;
    flex-direction: row;

    .admin-sidebar {
        .pro-sidebar {
            background-color: aliceblue !important;
            height: 100vh;


        }
    }
}

.admin-content {
    width: 100%;

    .admin-header {
        height: 40px;
        border: 1px solid green;

    }

    .admin-main {}
}