.manage-user-container {
    padding: 10px;

    .title {
        font-weight: 600;
        font-size: 20px;
    }

    .user-content {

        .btn-add-user {

            margin: 15px 0;
        }

    }
}